
html{
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	background-color:LightGray;
	font-family: 'Roboto', sans-serif;
}
nav{	
	background-color: white;
	width:100%;
}
nav .content{
	width: 970px;
    height: 70px;
    margin: 0 auto;

}
nav .top-logo{	
	height: 3.75em;
	padding-left:80px; 	
	padding-top: 10px;
	padding-bottom: 10px;
}
nav .top-menu .active{
	color: #4c5058;
    font-weight: 500;
}
nav .top-menu{
	display: inline-block;
	float:right;
	margin-top: 1.75em;
	margin-right:8.75em;
}
nav .top-menu li{
	display: inline-block;
	margin-left:1.5em;
	font-weight: 500;
}

nav .top-menu li a{
	text-decoration: none;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}
nav .top-menu li a:hover{
	color: black;
}