
html{
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	background-color:LightGray;
	font-family: 'Roboto', sans-serif;
}
nav{	
	background-color: white;
	width:100%;
	position: fixed;
	z-index: 9999;
}
nav .content{
	width: 970px;
    height: 70px;
    margin: 0 auto;


}
nav .top-logo{	
	height: 3.75em;
	padding-left:80px; 	
	padding-top: 10px;
	padding-bottom: 10px;
}
nav .top-menu .active{
	color: #4c5058;
    font-weight: 500;
}
nav .top-menu{
	display: inline-block;
	float:right;
	margin-top: 1.75em;
	margin-right:8.75em;
}
nav .top-menu li{
	display: inline-block;
	margin-left:1.5em;
	font-weight: 500;
}

nav .top-menu li a{
	text-decoration: none;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}
nav .top-menu li a:hover{
	color: black;
}
/*Background image header and button */
header{
	background-image: url("../images/first-background copy.jpg");
	height: 45.938rem;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
header .content{
}
header .content .intro{
	color: white;
	padding-top: 7em;
	margin-top: 0px;
	font-weight:100;
	font-size: 3em;
}
header .sub-intro{
color: white;
font-weight: 100;
font-size: 1.5em;
}
header button{
	padding:15px 35px;
	border-radius: 5px;
	border-color:#F15B2A;
	background-color:#F15B2A;
	border-style:none;
	text-shadow:none;
	color:white;
}
header button:hover{
	background-color: #d9400e;
	cursor: pointer;
}
main {	
	background-color: white;
}
main .widget{
	display:inline-block;
	width:33.3%;
	height:300px;
	margin-right:-4px;
}
main h1{
	text-align: center;
	margin: 0px;
	padding-top: 4em;
	padding-bottom:2em ;
	font-weight: 100;
	font-size: 38px;
	letter-spacing: 3px;
}

main .widget img{
	height: 8em;
	display:block;
	width: 100%;
	margin 0 auto;	
}
main .widget h3{
	text-align: center;
}
footer{
	background-color: white;
}
footer hr{
	margin:0 auto;
	width:75%;
}
footer .footer-heading{
	text-align: center;
	margin-top: 0px;
	padding-top: 50px;
}
footer .social-media{
	text-align: center;
}
footer .twitter{
	border: solid 1px black;
	font-size:20px;
	border-radius: 20px;
	padding:10px;
	color:#55ACEE;
}
footer .facebook{
	border: solid 1px black;
	font-size: 20px;
	border-radius: 20px;
	padding:10px 14px;
	color: #4C66A4;
	margin: 5px;
}
footer .instagram{
	border: solid 1px black;
	font-size: 20px;
	border-radius: 20px;
	padding:10px;
	color: #3F729B;
}
footer p{
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 200px;
	color: #838994;
	font-size: 0.9rem;

}





